
body{
 margin-bottom:0px;
 padding-bottom:0px
}

 .example-full-width{
    display: flex;
    flex-direction: row;
  }
  
  .example-full-width > * {
    width: 100%;
  }
  
 .title-center{
   margin: 0 auto;
 }
 mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;


}
mat-card-content{
  margin: 2em auto;
  text-align: center;
  margin-left: 70px;
}
mat-card-header{
  margin: 2em auto;
  text-align: center;
  margin-left: 70px;
}
mat-toolbar{

background-color:lightblue; 
}